node_modules/
dist/
.env
uploads/
coverage/
package-lock.json
*.log
.DS_Store
.idea/
.vscode/

# OS
Thumbs.db

# Docker
*.local

# TypeScript
*.tsbuildinfo

# Build
build/

# Misc
This is the Final Master Backend Plan.docx
